.round23 {
    font-family: Arial, Helvetica, sans-serif;
}
.list23 {
    font-family: Arial, Helvetica, sans-serif;
}
.round22 {
    position: relative;
    left: 675px;
    top: -1245px
}
.list22 {
    position: relative;
    left: 600px;
    top: -1245px;
}
.round21 {
    position: relative;
    left: 1350px;
    top: -2485px
}
.list21 {
    position: relative;
    left: 1285px;
    top: -2485px;
}
.note {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 1270px;
    top: -2485px;
}
.note2 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 1270px;
    top: -2485px;
}
.note3 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 1270px;
    top: -2485px;
}
